<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.mapper.ExcelMapper">

	<insert id="create" parameterType="Excel">
		INSERT INTO excel
		(id,name,create_date,last_modify_date,json,creater_id,status,describe)
		values(#{excel.id},#{excel.name},#{excel.createDate},#{excel.lastModifyDate},#{excel.json},#{excel.createrId},'1',#{excel.describe})
	</insert>
	<select id="get" resultType="Excel" parameterType="String">
		select * from
		excel where id = #{excel.id}
	</select>
	<update id="save" parameterType="Excel">
		update excel set json =
		#{excel.json} where id = #{excel.id}
	</update>
	<select id="getExcelListById" parameterType="String"
		resultType="Excel">
		select * from excel where creater_id = #{createrId}
	</select>
</mapper>