<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.mapper.ExcelMapper">

	<insert id="create" parameterType="Excel">
		INSERT INTO excel
		(id,name,create_date,last_modify_date,json,creater_id,status,excel_describe)
		values(#{excel.id},#{excel.name},#{excel.createDate},#{excel.lastModifyDate},#{excel.json},#{excel.createrId},'1',#{excel.excelDescribe})
	</insert>
	<select id="get" resultType="Excel" parameterType="String">
		select * from
		excel where id = #{excelId} 
	</select>
	<update id="save" parameterType="Excel">
		update excel set json =
		#{excel.json} where id = #{excel.id}
	</update>
	<select id="getExcelListByCreaterId" parameterType="String"
		resultType="Excel">
		select distinct * from excel where creater_id = #{id} and status=#{type}
		<if test="name !=null and name !='' ">
			and name like "%"#{name}"%"
		</if>
		<if test="date !=null and date.size>0 ">
			and create_date between #{date[0]} and #{date[1]}
		</if>
		order by last_modify_date desc
	</select>
	<!-- 查自己关联的，不要作者是自己的 -->
	<select id="getShareExcelListByUserId" parameterType="String"
		resultType="Excel">
		select distinct * from user_excel a LEFT JOIN excel b on
		a.excel_id=b.id
		where a.user_id=#{id} and b.creater_id != #{id}
		<if test="name !=null and name !='' ">
			and b.name like "%"#{name}"%"
		</if>
		<if test="date !=null and date.size>0 ">
			and b.create_date between #{date[0]} and #{date[1]}
		</if>
		order by b.last_modify_date desc
	</select>
	<select id="countByExcelIdAndUserId" parameterType="String"
		resultType="int">
		select count(1) from user_excel where user_id=#{userId} and
		excel_id=#{excelId}
	</select>
	<insert id="bindShareExcel" parameterType="String">
		insert into user_excel
		values(#{userId},#{excelId})
	</insert>
	<update id="updateExcelStatusByExcelId">
		update excel set status =#{status} where id = #{excelId}
	</update>
	<delete id="unbindShareExcel" parameterType="String">
		delete from user_excel where excel_id = #{excelId}
		<if test="userId !=null and userId !=''">
			and user_id = #{userId}
		</if>
	</delete>
</mapper>